<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <h1>Create a Basketball Team!</h1>
 </head>
 <body>

   <form action="/team" method="post">
     <label for="Team Name">Team Name:</label>
     <input type="text" name="name" ><br>
     <br>
     <label for="Coach">Coach:</label>
     <input type="text" name="coach" ><br>
     <br>
     <label for="Point Guard">Point Guard:</label>
     <input type="text" name="pg" ><br>
     <br>
     <label for="Shooting Guard">Shooting Guard:</label>
     <input type="text" name="sg" ><br>
     <br>
     <label for="Power Forward">Power Forward:</label>
     <input type="text" name="pf" ><br>
     <br>
     <label for="Small Forward">Small Forward:</label>
     <input type="text" name="sf" ><br>
     <br>
     <label for="Center">Center:</label>
     <input type="text" name="c" ><br>
     <br>
    <!-- <input type="text" name="name" label="Team Name">
    <input type="text" name="name" lable="Coach">
    <input type="text" name="name" lable="Point Guard">
    <input type="text" name="name" lable="Shooting Guard">
    <input type="text" name="name" lable="Small Foward">
    <input type="text" name="name" lable="Power Foward">
    <input type="text" name="name" lable="Center"> -->
    <input type="submit" value="Submit">
  </form>

 </body>
</html>
