<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <p><form class="" action="/team" method="post">
     <input type="text" name="Team Name" value="" id="name">
     <input type="text" name="Coach" value="" id="coach">
     <input type="text" name="Point Guard" value="" id="pg">
     <input type="text" name="Shooting Guard" value="" id="sg">
     <input type="text" name="Power Forward" value="" id="pf">
     <input type="text" name="Small Forward" value="" id="sf">
     <input type="text" name="Center" value="" id="c">
     <input type="submit" name="Submit" value="Submit" id="Submit">
   </form>
   </p>

   </form>
 </body>
</html>
