<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form class="" action="/team" method="post">
    <input type="text" value="Team name" name="name">
    <input type="text" value="Coach" name="coach">
    <input type="text" value="Point Guard" name="pg">
    <input type="text" value="Shooting Guard" name="sg">
    <input type="text" value="Power Forward" name="pf">
    <input type="text" value="Small Forward" name="sf">
    <input type="text" value="Center" name="c">
    <input type="submit" id="Submit">
   </form>
 </body>
</html>
