<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form action="/team" method="post">
     <label for="">Team Name:</label>
     <input type="text" name="name" value=""><br /><br />
     <label for="">Coach:</label>
     <input type="text" name="coach" value=""><br /><br />
     <label for="">Point Guard:</label>
     <input type="text" name="pg" value=""><br /><br />
     <label for="">Shooting Guard:</label>
     <input type="text" name="sg" value=""><br /><br />
     <label for="">Power Forward:</label>
     <input type="text" name="pf" value=""><br /><br />
     <label for="">Center:</label>
     <input type="text" name="c" value=""><br /><br />
     <label for="">Small Forward:</label>
     <input type="text" name="sf" value=""><br /><br />
     <input type="submit" value="Submit">
   </form>
 </body>
</html>
