<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <p> <% params.each do |p,v| %>
     <%= p.to_s+": "+v.to_s %><br>
     <% end %>
   </p>


 </body>
</html>
